<div class="row">
    <img class="img-responsive mb15" src="~/Images/banner_pizza.png" />
</div>
<div class="container">
    <div class="row">
        <div align="center">
            <button class="btn btn-default filter-button active" data-filter="all">Todas</button>
            @if (ViewBag.ListSize != null)
            {
                for (var i = 0; i < ViewBag.ListSize.Count; i++)
                {
                    <button class="btn btn-default filter-button" data-filter="@ViewBag.ListSize[i].Code">@ViewBag.ListSize[i].Name</button>
                }
            }
        </div>
        <br />
        @for (var i = 0; i < ViewBag.ListProduct.Length; i++)
        {
            <div class="gallery_product col-lg-4 col-md-4 col-sm-6 col-xs-12 filter @ViewBag.ListProduct[i].Code.Substring(3,2)">
                <label>@ViewBag.ListProduct[i].Name @ViewBag.ListProduct[i].SizeName</label>
                <p>@ViewBag.ListProduct[i].Description</p>
                <span>S/. @ViewBag.ListProduct[i].Price</span>
                <input type="hidden" value="@ViewBag.ListProduct[i].ProductId"/>
                <input type="number" value="0" max="99" min="0" />
                <button class="btn btn-danger btn-order-pizza">Ordenar</button>                
                <div style="background-image:url(@ViewBag.ListProduct[i].ImagePath)"></div>
            </div>
        }
    </div>
</div>