<div class="row">
    <img class="img-responsive mb15" src="~/Images/Other/my_order.png" />
</div>
<div class="row">
    <div class="col-md-3 col-xs-12">
        <h1 class="order_h1">Mi pedido</h1>
    </div>
    <div class="table-responsive">
        <table class="table table-striped custom_table">
            <thead class="success">
                <tr class="info">
                    <th>#</th>
                    <th>Fecha</th>
                    <th>Dirección</th>
                    <th>Addicional</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.ListOrder != null)
                {
                    for (var i = 0; i < ViewBag.ListOrder.Length; i++)
                    {
                        if (PizzeriaMasterpiece.Constant.Parameters.ORDER_PENDING == ViewBag.ListOrder[i].OrderStatusId)
                        {
                            <tr>
                                <td>@ViewBag.ListOrder[i].OrderNo</td>
                                <td>@ViewBag.ListOrder[i].Date</td>
                                <td>@ViewBag.ListOrder[i].Address</td>
                                <td>@ViewBag.ListOrder[i].Remark</td>
                                <td>@ViewBag.ListOrder[i].OrderStatusName</td>
                                @*<td><button class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-name"></span> Detalle</button></td>*@
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-4 col-xs-12">
        <h2 class="order_h2">Pedidos anteriores</h2>
    </div>
    <div class="table-responsive">
        <table class="table table-striped custom_table2">
            <thead>
                <tr class="info">
                    <th>#</th>                    
                    <th>Fecha</th>
                    <th>Dirección</th>
                    <th>Adicional</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.ListOrder != null)
                {
                    for (var i = 0; i < ViewBag.ListOrder.Length; i++)
                    {
                        if (PizzeriaMasterpiece.Constant.Parameters.ORDER_PENDING != ViewBag.ListOrder[i].OrderStatusId)
                        {
                            <tr>
                                <td>@ViewBag.ListOrder[i].OrderNo</td>
                                <td>@ViewBag.ListOrder[i].Date</td>
                                <td>@ViewBag.ListOrder[i].Address</td>
                                <td>@ViewBag.ListOrder[i].Remark</td>
                                <td>@ViewBag.ListOrder[i].OrderStatusName</td>
                                <td>
                                    <button class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-name"></span> Detalle</button>                                    
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>        
    </div>
    <ul class="pager">
        <li><a href="#">Anterior</a></li>
        <li><a href="#">Siguiente</a></li>
    </ul>
</div>