<div class="row">
    <img class="img-responsive mb15" src="~/Images/Other/my_order.png" />
</div>
<div class="row">
    <div class="col-xs-12 col-md-3">
        <h1 class="order_h1">Mi pedido</h1>
    </div>
    <div class="table-responsive">
        <table class="table table-striped custom_table">
            <thead class="success">
                <tr class="info">                    
                    <th>Cantidad</th>
                    <th>&nbsp;</th>
                    <th>Producto</th>                        
                    <th>Tamaño</th>
                    <th>Precio</th>
                    <th>Total</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            
                @if (ViewBag.ListCart != null)
                {
                    if (ViewBag.ListCart.Count != 0)
                    {
                        <tbody>
                            @for (var i = 0; i < ViewBag.ListCart.Count; i++)
                            {
                                <tr>
                                    <td class="text-center">
                                        <input type="hidden" class="rowID" value="@ViewBag.ListCart[i].ID" />
                                        @ViewBag.ListCart[i].Quantity
                                    </td>
                                    <td><img src="@ViewBag.ListCart[i].Product.ImagePath" width="100" /></td>
                                    <td>@ViewBag.ListCart[i].Product.Description</td>
                                    <td>@ViewBag.ListCart[i].Product.SizeName</td>
                                    <td class="text-right">S/. @ViewBag.ListCart[i].Product.Price</td>
                                    <td class="text-right">S/. @(ViewBag.ListCart[i].Product.Price*ViewBag.ListCart[i].Quantity)</td>
                                    <td>
                                        <button class="btn btn-xs btn-primary btn-delete-order-item"><span class="glyphicon glyphicon-name"></span> Remover</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-right">Total:</td>
                                <td class="text-right">S/. <label id="CartTotal">0.00</label></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    }
                    else
                    {
                        <tbody>
                            <tr>
                                <td colspan="7">
                                    <div class="alert alert-warning">
                                        <strong>Info!</strong> Aún no tienes productos en tu carrito
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    }
                }            
        </table>
        @if (ViewBag.ListCart != null)
        {
            if (ViewBag.ListCart.Count != 0)
            {
                <button id="ContinueOrder" class="btn btn-primary">Ordernar</button>                
            }
        }
    </div>    
    
    <div id="ModalConfirm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">Confirma tu pedido!</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Confirmar direccion:</label>
                        <input type="text" class="form-control" id="txtAddress">
                    </div>         
                    <div class="form-group">
                        <label>Indicaciones:</label>
                        <input type="email" class="form-control" id="txtRemark">
                    </div>   
                    <div class="form-group">
                        <label>Tipo de comprobante:</label>
                        <select id="selDocumentType" class="form-control">
                            @if (ViewBag.ListDT != null)
                            {
                                for (var i = 0; i < ViewBag.ListDT.Count; i++)
                                {
                                    <option value="@ViewBag.ListDT[i].Id">@ViewBag.ListDT[i].Name</option>
                                }
                            }                            
                        </select>
                    </div>     
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button id="ConfirmOrder" type="button" class="btn btn-primary">Confirmar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>